@import "./tokens.css";

* { 
    box-sizing: border-box; 
}

html, body { 
    height: 100%; 
    overflow-x: clip;
}

body {
    margin: 0;
    font-family: var(--font-main);
    color: var(--text-dark);
    background: #000;
}

img { 
    display: block; max-width: 100%; 
}

a { 
    color: inherit; text-decoration: none; 
}
