.vignette{
    position:absolute;
    inset:0;
    pointer-events:none;
    z-index: 8;
    background: linear-gradient(
        90deg,
        rgba(0,0,0,0.16) 0%,
        rgba(0,0,0,0.08) 14%,
        rgba(0,0,0,0.00) 50%,
        rgba(0,0,0,0.00) 86%,
        rgba(0,0,0,0.08) 94%,
        rgba(0,0,0,0.16) 100%
    );
    opacity: 0.35;
    mix-blend-mode: normal;
}