.page {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

    background-image: url("./assets/images/backgrounds/grain-bg.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

@supports (-webkit-touch-callout: none) {
    .page {
        background-attachment: scroll;
    }
}
